@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=EB+Garamond&family=Special+Elite&display=swap');

/*
Body
*/

body {
    margin: 0;
}

/*
Header and Navbar div
*/

#header-navbar {
    background: url("http://homepages.cs.ncl.ac.uk/harold.fellermann/csc8018/ocean_cleanup/resources/ocean.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

/*
Header h1 only
*/

h1 {
    font-family: "Darker Grotesque", sans-serif;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em #615f5a;
    text-transform: uppercase;
    text-align: center;
    font-size: 5vw; /* auto resizes the ocean cleanup based on viewport width */
    padding: 5rem; /* creating some space around the header */
    margin: 0;
}

#header-the {
    vertical-align: super;
    font-size: 1.2em; 
    font-weight: lighter;
}

#header-ocean {
    font-size: 2em;
    font-weight: lighter;
}

#header-cleanup {
    font-size: 2em;
    font-weight: bolder;
}

/* 
Navbar only
*/

nav {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
}

nav ul {
    background-color: rgba(70, 69, 66, 0.6);
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-left: 0;

}

nav li {
    display: inline-block; /* converting the lines into boxes */
    margin: 0;
    padding: 0.5em 1em;
    width: 13rem;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li:hover {
    background-color: aliceblue;
    opacity: .5;
    text-decoration: none;
}

nav li:hover a {
    color: rgb(2, 33, 53, 1);
}

.navigation-list :visited {
    text-decoration: none;
}

.sublist {
    display: none;
}

/*
Headers h2-h6
*/

h2, h3 {    
    font-family: "Special Elite", sans-serif;
    padding-top: 3rem;
}

#summary {
    display: none;
}

/*
Main (outside header-navbar div)
*/

main {
    font-family: "EB Garamond", serif;
    font-size: 16pt;
    max-width: 80ch;
    position: relative;
    margin: 0 auto 0 auto; /* this gets rid of the whitespace around the top and sides of the header */
    padding-top: 3rem;
}


#technology-quote {
    color: rgb(70, 153, 156);
    font-size: 2.5rem;
    text-align: center;
}

/*
Embed Video
*/

    /* 
    Reference: the below way of resizing the embedded video is taken from Youtube:
    https://www.youtube.com/watch?v=9YffrCViTVk
    Original Author - YouTube, tipswithpunch
    Modifying Author – Tahir Khan
    */

#youtube {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

#youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/*
Table
*/

#how-long {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#how-long tr {
    border: solid;
    border-width: 1px 0;
}

#how-long tr:first-child { /*stops the first non-caption row from displaying a border */
    border-top: none;
  }

#how-long caption {
    text-align: center;
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#how-long tbody {
    border-bottom: 2px solid black;
}

#how-long td {
    padding: 3pt;
}

/*
Calculator
*/

#sec-calculator {
    
}

/*
Footer
*/

footer {
    background: url("http://homepages.cs.ncl.ac.uk/harold.fellermann/csc8018/ocean_cleanup/resources/ocean.jpg");
    background-repeat: no-repeat;
    background-position: center center; 
    font-family: "Darker Grotesque", sans-serif;
    font-size: 16pt;
    text-align: center;
    padding: 3rem;
}

footer :visited {
    color: black;
}